{% load static %}
<!--Bootstrap Navigation Bar-->
<div class="offset-1 col-10 text-center">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand text-center" href="#home">fatih</a>
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link" href="#about">about</a>
            <a class="nav-item nav-link" href="#exp">experience</a>
            <a class="nav-item nav-link" href="#skills">skills</a>
            <a class="nav-item nav-link" href="#contact">contact</a>
        </div>
        <a class="navbar-brand text-center schedule-btn" href="{% url 'schedule' %}"><img src="{% static 'assets/img/calendar.svg' %}" alt="schedule"></a>
    </nav>
</div>