{% extends 'base.html' %}
{% load static %}
{% block head %}
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="text-left back-btn">
            <a href="{% url 'schedule' %}"><img src="{% static 'assets/img/chevron-left.svg' %}" alt="go back"></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12 text-center m-5">
        <h1>Add New Activity</h1>
    </div>
    <form method="POST" class="col-5 offset-4">
        {% csrf_token %}
        <div class="form-group">
            <label>Activity</label>
            {{ form.activity }}
        </div>
        <div class="form-group">
            <label>Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label>Date and Time</label>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form.datetime }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
                
            <script>
                $(function () {
                    $("#datetimepicker1").datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    });
                });
            </script>
        </div>
        <div class="form-group">
            <label>Location</label>
            {{ form.location }}
        </div>
        <div class="text-center">
            <input type="submit" class="dl-btn px-5 py-3 text-center" value="Add Activity"/>
        </div>
    </form>
</div>
{% endblock content %}