{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="text-left back-btn">
            <a href="{% url 'profile' %}"><img src="{% static 'assets/img/chevron-left.svg' %}" alt="go back"></a>
        </div>
    </div>
</div>
<!--Header-->
<div class="row res-header">
    <!--Title-->
    <div class="col-6 text-right">
        <h1>My Schedule</h1>
        <div class="flex">
            <p>Today - {{ server_time }}</p>
        </div>
    </div>
    <!--Download Resume Button-->
    <a class="col-6" href="{% url 'add_schedule' %}">
        <button class="dl-btn">Add New Activity</button>
    </a>
</div>
<div class="container">
    {% if schedules %}
        {% for s in schedules %}
            <div class="my-4 offset-1">
                <h2>{{ s.activity }}</h2>
                <div class="row schedule-card">
                    <div class="col-8">
                        <div>
                            <h4>@ {{ s.location }}</h4>
                            <p>on {{ s.datetime }}</p>
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <form action="{% url 'delete_schedule' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ s.id }}" name="id"/>
                            <input class="del-btn" type="submit" value="Delete"/>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center text-muted m-4">There's no upcoming activity</p>
    {% endif %}
</div>
{% endblock content %}