<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDD Story 6</title>
</head>
<body>
    <h1>Halo, apa kabar?</h1>
    {% for post in posts %}
        <h3>Diposting pada {{ post.post_time }}</h3>
        <p>{{ post.content }}</p>
    {% endfor %}
    <form method="GET">
        {{ post_form }}
        <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>